In [2]:
import pandas as pd

In [4]:
df = pd.read_csv("SimpleConversion.csv")

In [5]:
df

      Name  Language Laptop              email
0   Abraham  English     Yes  abraham@ta98.org
1  AbrahamM  Spanish      No  amoral59@uic.edu
2       Sam  English      No     sam@email.com

Here is where I am testing if we can seperate columns based on the outcomes that they have. Below is where those who speak english are being filtered.

In [7]:
df[df['Language'] == "English"]

     Name  Language Laptop              email
0  Abraham  English     Yes  abraham@ta98.org
2      Sam  English      No     sam@email.com

Here is where I am testinf if we can sepearate Columns based on those who speak spanish

In [8]:
df[df['Language'] == "Spanish"]

      Name  Language Laptop              email
1  AbrahamM  Spanish      No  amoral59@uic.edu